.version.about /* version checker */
{
	color: #000018;
	background-color: #3E9A0D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1050px;
	min-height: 2926px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 76px;
}

#u6450
{
	z-index: 92;
	height: 75px;
}

#u6450-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 92;
	top: 0px;
}

#u11288
{
	z-index: 93;
	width: 134px;
	top: 0px;
	left: 17px;
}

#u11288_img
{
	padding-right: 1px;
}

#u15056
{
	z-index: 146;
	width: 145px;
	top: 0px;
	left: 168px;
}

#u15056_clip
{
	width: 145px;
	height: 75px;
}

#u15056_img
{
	margin-bottom: -1px;
}

#pamphletu6453
{
	z-index: 95;
	width: 0.01px;
	height: 58px;
	padding-bottom: 67px;
	top: 0px;
	left: 345px;
}

#u6475popup
{
	z-index: 96;
}

#u6475
{
	width: 95px;
	top: 75px;
	left: 95px;
}

#u6476
{
	z-index: 97;
	width: 95px;
	height: 50px;
	margin-right: -10000px;
	left: -95px;
}

#u6477
{
	z-index: 98;
	width: 46px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 25px;
}

#u6479
{
	z-index: 100;
	width: 95px;
	height: 50px;
	margin-right: -10000px;
}

#u6480
{
	z-index: 101;
	width: 45px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 23px;
}

#u6484
{
	z-index: 103;
	width: 95px;
	height: 50px;
	margin-right: -10000px;
	left: 95px;
}

#u6485
{
	z-index: 104;
	width: 45px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 25px;
}

#u6487
{
	z-index: 106;
	width: 95px;
	height: 55px;
	margin-right: -10000px;
	margin-top: -5px;
	left: 190px;
}

#u13414
{
	z-index: 107;
	width: 55px;
	margin-right: -10000px;
	left: 20px;
}

#u6483
{
	z-index: 109;
	width: 95px;
	height: 52px;
	margin-right: -10000px;
	margin-top: -2px;
	left: 285px;
}

#u13408
{
	z-index: 110;
	width: 52px;
	margin-right: -10000px;
	left: 21px;
}

#u6482
{
	z-index: 112;
	width: 95px;
	height: 52px;
	margin-right: -10000px;
	margin-top: -2px;
	left: 380px;
}

#u13402
{
	z-index: 113;
	width: 45px;
	margin-right: -10000px;
	left: 19px;
}

#u6454
{
	z-index: 115;
	width: 560px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 5px;
}

#u6455
{
	width: 95px;
	padding-bottom: 27px;
	top: -16px;
	left: -5px;
}

#u6455:hover
{
	margin: 0px;
}

#u6456-4
{
	z-index: 117;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 5px;
}

#u6457
{
	width: 95px;
	padding-bottom: 27px;
	top: -16px;
	left: 90px;
}

#u6455.PamphletThumbSelected,#u6457:hover
{
	margin: 0px;
}

#u6458-4
{
	z-index: 122;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 5px;
}

#u6459
{
	width: 95px;
	padding-bottom: 17px;
	top: -16px;
	left: 185px;
}

#u6457.PamphletThumbSelected,#u6459:hover
{
	margin: 0px;
}

#u6460-4
{
	z-index: 127;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 5px;
}

#u6465
{
	width: 95px;
	padding-bottom: 27px;
	top: -16px;
	left: 280px;
}

#u6459.PamphletThumbSelected,#u6465:hover
{
	margin: 0px;
}

#u6466-4
{
	z-index: 132;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 5px;
}

#u6467
{
	width: 95px;
	padding-bottom: 27px;
	top: -16px;
	left: 375px;
}

#u6465.PamphletThumbSelected,#u6467:hover
{
	margin: 0px;
}

#u6468-4
{
	z-index: 137;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 5px;
}

#u6461
{
	width: 95px;
	padding-bottom: 28px;
	top: -17px;
	left: 470px;
}

#u6467.PamphletThumbSelected,#u6461:hover
{
	margin: 0px;
}

#u6461.PamphletThumbSelected
{
	margin: 0px;
}

#u6462-4
{
	z-index: 142;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 5px;
}

#u12710
{
	z-index: 20;
	height: 275px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u12710-bw
{
	z-index: 20;
	height: 275px;
}

#u12711-11
{
	z-index: 23;
	width: 1089px;
	min-height: 212px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 79px;
}

#u12711-2
{
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u12711-3
{
	font-size: 30px;
	line-height: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u12711-5,#u12711-6,#u12711-8
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u12711-9
{
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

#u11313
{
	z-index: 34;
	width: 1102px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 79px;
}

#u11312
{
	z-index: 35;
	width: 1102px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 79px;
}

#u12420
{
	z-index: 21;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#u12420_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	position: relative;
	left: -100px;
	padding-top: 22px;
	padding-bottom: 35px;
	margin-bottom: -3px;
}

#pu12337-3
{
	width: 0.01px;
	left: 321px;
	position: relative;
}

#u12337-3
{
	z-index: 148;
	width: 5px;
	position: relative;
	margin-right: -10000px;
}

#u12421-5
{
	z-index: 54;
	width: 267px;
	min-height: 42px;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#u12421
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#pu12479
{
	width: 0.01px;
	left: 82px;
	margin-top: 49px;
	position: relative;
}

#u12479
{
	z-index: 159;
	width: 261px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/deshmuk%20sir.jpg") no-repeat center top;
	background-size: cover;
}

#u12833
{
	z-index: 272;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9F9F9;
	background-color: rgba(0, 0, 0, 0.02);
	padding-bottom: 85px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -3px;
	-pie-background: rgba(0, 0, 0, 0.02);
}

#u12833:hover
{
	margin: 1px -10000px -1px 0px;
	background: #444444 url("../images/ieee%20logo%20finadwfefl-u12833-r-fr.png") no-repeat center top;
	background-color: rgba(0, 0, 0, 0.73);
}

.greybox
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #FBFBFB url("../images/ieee%20logo%20finadwfefl-u12833-fr.png") no-repeat center bottom;
	background-color: rgba(82, 95, 95, 0.02);
}

#u12834-6
{
	z-index: 273;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 3px;
}

.mytitle
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.02;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2)";
	filter: alpha(opacity=2);
}

#u12428
{
	z-index: 151;
	width: 261px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 279px;
	background: #FFFFFF url("../images/jinesh.jpg") no-repeat center center;
	background-size: cover;
}

#u12463
{
	z-index: 152;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #FAFDFE;
	background-color: rgba(41, 171, 226, 0.02);
	padding-bottom: 85px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41, 171, 226, 0.02);
}

#u12463:hover
{
	margin: 0px -10000px 0px 0px;
	background: #62C1E9 url("../images/ieee%20logo%20finadwfefl-u12833-r-fr.png") no-repeat center top;
	background-color: rgba(41, 171, 226, 0.73);
}

#u12477-6
{
	z-index: 153;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: -1px;
}

#u12480
{
	z-index: 160;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 557px;
	background: #FFFFFF url("../images/screenshot_2015-07-28-17-12-50~2.jpg") no-repeat center center;
	background-size: cover;
}

#u12493
{
	z-index: 162;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9FBFB;
	background-color: rgba(0, 98, 55, 0.02);
	padding-bottom: 85px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	-pie-background: rgba(0, 98, 55, 0.02);
}

#u12493:hover
{
	margin: 0px -10000px 0px 0px;
	background: #428A6B url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(0, 98, 55, 0.74);
}

#u12494-6
{
	z-index: 163;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 1px;
}

#u12481
{
	z-index: 161;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 836px;
	background: #FFFFFF url("../images/img_2056.jpg") no-repeat center top;
	background-size: cover;
}

#u12670
{
	z-index: 252;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #FEFAFB;
	background-color: rgba(221, 52, 67, 0.02);
	padding-bottom: 84px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	-pie-background: rgba(221, 52, 67, 0.02);
}

#u12670:hover
{
	margin: 0px -10000px 0px 0px;
	background: #E56873 url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(221, 52, 67, 0.74);
}

#u12671-6
{
	z-index: 253;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 1px;
}

#pu12495
{
	width: 0.01px;
	left: 80px;
	margin-top: 16px;
	position: relative;
}

#u12495
{
	z-index: 169;
	width: 263px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/dscn2735.jpg") no-repeat center center;
	background-size: cover;
}

#u12576
{
	z-index: 181;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #FEFAFB;
	background-color: rgba(221, 52, 67, 0.02);
	padding-bottom: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	-pie-background: rgba(221, 52, 67, 0.02);
}

#u12576:hover
{
	margin: -1px -10000px 0px 0px;
	background: #E56873 url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(221, 52, 67, 0.74);
}

#u12578-6
{
	z-index: 182;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 1px;
}

#u12496
{
	z-index: 170;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
	background: #FFFFFF url("../images/screenshot_2015-07-27-21-37-58~2.jpg") no-repeat center center;
	background-size: cover;
}

#u12585
{
	z-index: 188;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9FBFB;
	background-color: rgba(0, 98, 55, 0.02);
	padding-bottom: 93px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	-pie-background: rgba(0, 98, 55, 0.02);
}

#u12585:hover
{
	margin: 0px -10000px 0px 0px;
	background: #448C6D url("../images/ieee%20logo%20finadwfefl-u12833-r-fr.png") no-repeat center top;
	background-color: rgba(0, 98, 55, 0.73);
}

#u12586-6
{
	z-index: 189;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: -1px;
}

#u12497
{
	z-index: 171;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 559px;
	background: #FFFFFF url("../images/screenshot_2015-07-27-21-33-49~2.jpg") no-repeat center center;
	background-size: cover;
}

#u12593
{
	z-index: 195;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9F9F9;
	background-color: rgba(0, 0, 0, 0.02);
	padding-bottom: 94px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
	-pie-background: rgba(0, 0, 0, 0.02);
}

#u12593:hover
{
	margin: 1px -10000px -1px 0px;
	background: #424242 url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(0, 0, 0, 0.74);
}

#u12594-6
{
	z-index: 196;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
}

#u12498
{
	z-index: 172;
	width: 263px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 838px;
	background: #FFFFFF url("../images/screenshot_2015-07-28-23-25-06~2.jpg") no-repeat center center;
	background-size: cover;
}

#u12601
{
	z-index: 202;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #FAFDFE;
	background-color: rgba(41, 171, 226, 0.02);
	padding-bottom: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	-pie-background: rgba(41, 171, 226, 0.02);
}

#u12601:hover
{
	margin: -1px -10000px 0px 0px;
	background: #60C0E9 url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(41, 171, 226, 0.74);
}

#u12602-6
{
	z-index: 203;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 1px;
}

#u12499
{
	z-index: 173;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #FFFFFF url("../images/img-20150727-wa0015.jpg") no-repeat center center;
	background-size: cover;
}

#u12615
{
	z-index: 209;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9F9F9;
	background-color: rgba(0, 0, 0, 0.02);
	padding-bottom: 104px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.02);
}

#u12615:hover
{
	margin: 0px -10000px 0px 0px;
	background: #424242 url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(0, 0, 0, 0.74);
}

#u12616-6
{
	z-index: 210;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
}

#u12500
{
	z-index: 174;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
	background: #FFFFFF url("../images/screenshot_2015-07-27-22-14-39~2.jpg") no-repeat center top;
	background-size: cover;
}

#u12617
{
	z-index: 216;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9FBFB;
	background-color: rgba(0, 104, 55, 0.02);
	padding-bottom: 104px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 104, 55, 0.02);
}

#u12617:hover
{
	margin: 0px -10000px 0px 0px;
	background: #428A6B url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(0, 98, 55, 0.74);
}

#u12618-6
{
	z-index: 217;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
}

#u12503
{
	z-index: 177;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 559px;
	background: #FFFFFF url("../images/screenshot_2015-07-27-21-39-07~2.jpg") no-repeat center center;
	background-size: cover;
}

#u12637
{
	z-index: 223;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #FAFDFE;
	background-color: rgba(41, 171, 226, 0.02);
	padding-bottom: 105px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
	-pie-background: rgba(41, 171, 226, 0.02);
}

#u12637:hover
{
	margin: 1px -10000px -1px 0px;
	background: #60C0E9 url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(41, 171, 226, 0.74);
}

#u12639-6
{
	z-index: 225;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
}

#u12504
{
	z-index: 178;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 838px;
	background: #FFFFFF url("../images/screenshot_2015-07-27-21-35-48~2.jpg") no-repeat center top;
	background-size: cover;
}

#u12638
{
	z-index: 224;
	width: 259px;
	border-style: none;
	border-color: transparent;
	background-color: #FEFAFB;
	background-color: rgba(221, 52, 67, 0.02);
	padding-bottom: 104px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	-pie-background: rgba(221, 52, 67, 0.02);
}

#u12638:hover
{
	margin: 0px -10000px 0px 0px;
	background: #E56873 url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(221, 52, 67, 0.74);
}

#u12640-6
{
	z-index: 231;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: -1px;
}

#pu12499,#pu12501
{
	width: 0.01px;
	left: 80px;
	margin-top: 17px;
	position: relative;
}

#u12501
{
	z-index: 175;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/img_20150507_192718.jpg") no-repeat center top;
	background-size: cover;
}

#u12654
{
	z-index: 238;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #FEFAFB;
	background-color: rgba(221, 52, 67, 0.02);
	padding-bottom: 105px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
	-pie-background: rgba(221, 52, 67, 0.02);
}

#u12654:hover
{
	margin: 1px -10000px -1px 0px;
	background: #E56873 url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(221, 52, 67, 0.74);
}

#u12655-6
{
	z-index: 239;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 1px;
}

#u12506
{
	z-index: 180;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 279px;
	background: #FFFFFF url("../images/screenshot_2015-07-28-23-15-58~2.jpg") no-repeat center center;
	background-size: cover;
}

#u12669
{
	z-index: 251;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9F9F9;
	background-color: rgba(0, 0, 0, 0.02);
	padding-bottom: 104px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.02);
}

#u12669:hover
{
	margin: 0px -10000px 0px 0px;
	background: #424242 url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(0, 0, 0, 0.74);
}

#u12672-6
{
	z-index: 259;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
}

#u12505
{
	z-index: 179;
	width: 263px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 559px;
	background: #FFFFFF url("../images/11411922_704241516386671_560590464576483720_o-1.jpg") no-repeat center center;
	background-size: cover;
}

#u12705
{
	z-index: 265;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9FBFB;
	background-color: rgba(0, 104, 55, 0.02);
	padding-bottom: 103px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	-pie-background: rgba(0, 104, 55, 0.02);
}

#u12705:hover
{
	margin: -1px -10000px 0px 0px;
	background: #428F6B url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(0, 104, 55, 0.74);
}

#u12707-6
{
	z-index: 266;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
}

#u12502
{
	z-index: 176;
	width: 263px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 840px;
	background: #FFFFFF url("../images/screenshot_2015-07-28-23-23-13~2.jpg") no-repeat center center;
	background-size: cover;
}

#u12653
{
	z-index: 237;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9FCFD;
	background-color: rgba(0, 113, 188, 0.02);
	padding-bottom: 103px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	-pie-background: rgba(0, 113, 188, 0.02);
}

#u12653:hover
{
	margin: -1px -10000px 0px 0px;
	background: #4295CD url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(0, 113, 188, 0.74);
}

#u12656-6
{
	z-index: 245;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: -5px;
}

#pu15209
{
	width: 0.01px;
	left: 80px;
	margin-top: 15px;
	position: relative;
}

#u15209
{
	z-index: 279;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/screenshot_2015-07-28-23-26-30~2.jpg") no-repeat center top;
	background-size: cover;
}

#u15212
{
	z-index: 282;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9F9F9;
	background-color: rgba(0, 0, 0, 0.02);
	padding-bottom: 104px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.02);
}

#u15212:hover
{
	margin: 0px -10000px 0px 0px;
	background: #424242 url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(0, 0, 0, 0.74);
}

#u15248-6
{
	z-index: 285;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
}

#u15210
{
	z-index: 280;
	width: 263px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 279px;
	background: #FFFFFF url("../images/screenshot_2015-07-28-23-24-18~2.jpg") no-repeat center center;
	background-size: cover;
}

#u15213
{
	z-index: 283;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9FBFB;
	background-color: rgba(0, 104, 55, 0.02);
	padding-bottom: 104px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 104, 55, 0.02);
}

#u15213:hover
{
	margin: 0px -10000px 0px 0px;
	background: #428F6B url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(0, 104, 55, 0.74);
}

#u15249-6
{
	z-index: 291;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
}

#u15211
{
	z-index: 281;
	width: 263px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 559px;
	background: #FFFFFF url("../images/screenshot_2015-07-28-23-17-12~2.jpg") no-repeat center top;
	background-size: cover;
}

#u15214
{
	z-index: 284;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #F9FCFD;
	background-color: rgba(0, 113, 188, 0.02);
	padding-bottom: 103px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	-pie-background: rgba(0, 113, 188, 0.02);
}

#u15214:hover
{
	margin: -1px -10000px 0px 0px;
	background: #4295CD url("../images/ieee%20logo%20finadwfefl-u12493-r-fr.png") no-repeat center top;
	background-color: rgba(0, 113, 188, 0.74);
}

#u15250-6
{
	z-index: 297;
	width: 263px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
}

#u12420-bw
{
	z-index: 21;
	margin-top: -3px;
	height: 1495px;
}

#pu12710,#pu11297
{
	width: 0.01px;
	margin-left: -100px;
}

#u11297
{
	z-index: 22;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u11297_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	position: relative;
	left: -100px;
	padding-top: 25px;
	padding-bottom: 12px;
}

#pu12675-7
{
	width: 0.01px;
	left: 108px;
	position: relative;
}

#u12675-7
{
	z-index: 44;
	width: 303px;
	min-height: 326px;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u12698
{
	z-index: 51;
	width: 1px;
	height: 421px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u14386-27
{
	z-index: 64;
	width: 346px;
	min-height: 387px;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 321px;
}

#u14386-2
{
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

#u14386-3,#u14386-5,#u14386-7,#u14386-9,#u14386-10,#u14386-11,#u14386-13,#u14386-15,#u14386-17,#u14386-18,#u14386-19,#u14386-21,#u14386-23,#u14386-25
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

#u12697
{
	z-index: 52;
	width: 1px;
	height: 421px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 673px;
}

#u12696-8
{
	z-index: 36;
	width: 331px;
	min-height: 350px;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 696px;
}

#u12675-2,#u12696-2
{
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-weight: 700;
}

#u12675-3,#u12696-3
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-weight: 400;
}

#u12675-5,#u12696-5
{
	font-size: 20px;
	text-align: left;
	line-height: 24px;
	font-weight: 400;
}

#u12696-6
{
	font-size: 30px;
	text-align: left;
	line-height: 36px;
	font-weight: 400;
}

#u14054-4
{
	z-index: 59;
	width: 642px;
	min-height: 32px;
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 292px;
	margin-top: 12px;
	position: relative;
}

#u11297-bw
{
	z-index: 22;
	height: 519px;
}

#u12673
{
	z-index: 53;
	width: 1098px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 80px;
}

#u15251
{
	z-index: 91;
	width: 1098px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
	left: 83px;
}

#u14136
{
	z-index: 63;
	min-height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u14136-bw
{
	z-index: 63;
	min-height: 510px;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 510px;
}

#u14034
{
	z-index: 2;
	padding-bottom: 0px;
}

#u14034_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	left: -100px;
	padding-top: 24px;
	padding-bottom: 10px;
}

#u14035-5
{
	z-index: 3;
	width: 1037px;
	min-height: 20px;
	left: 107px;
}

#u14036-4
{
	z-index: 8;
	width: 856px;
	min-height: 21px;
	left: 214px;
}

#u14037-4
{
	z-index: 12;
	width: 865px;
	min-height: 26px;
	left: 193px;
	margin-top: 20px;
}

#u14038-4
{
	z-index: 16;
	width: 483px;
	min-height: 24px;
	left: 445px;
	margin-top: 19px;
}

#u14034-bw
{
	z-index: 2;
	margin-top: 1px;
	height: 178px;
}

body
{
	position: relative;
	min-width: 1050px;
}

