.white-text
{
	font-family: acme-n4, sans-serif;
}

.Header,.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text,.Events-Content
{
	font-family: open-sans-n3, sans-serif;
}

.Events
{
	font-family: ubuntu-n5, sans-serif;
}

.Close-button-events
{
	font-family: ubuntu-n4, sans-serif;
}

.Events-Titles,.Accordion-Head,.Accordion-normal
{
	font-family: open-sans-n7, sans-serif;
}

.Content-IEEE
{
	font-family: open-sans-n4, sans-serif;
}

.bodytext
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u6457:hover #u6458-4 p
{
	font-family: open-sans-n4, sans-serif;
}

#u6457.PamphletThumbSelected #u6458-4 p,#u14035-5
{
	font-family: open-sans-n4, sans-serif;
}

#u13993-4:hover p
{
	font-family: open-sans-n7, sans-serif;
}

#u13993-4:active p
{
	font-family: open-sans-n7, sans-serif;
}

#u13993-4.AccordionPanelTabOpen p,#u13999-4:hover p
{
	font-family: open-sans-n7, sans-serif;
}

#u13999-4:active p
{
	font-family: open-sans-n7, sans-serif;
}

#u13999-4.AccordionPanelTabOpen p,#u14003-4:hover p
{
	font-family: open-sans-n7, sans-serif;
}

#u14003-4:active p
{
	font-family: open-sans-n7, sans-serif;
}

#u14003-4.AccordionPanelTabOpen p,#u13991-4:hover p
{
	font-family: open-sans-n7, sans-serif;
}

#u13991-4:active p
{
	font-family: open-sans-n7, sans-serif;
}

#u13991-4.AccordionPanelTabOpen p,#u14007-4:hover p
{
	font-family: open-sans-n7, sans-serif;
}

#u14007-4:active p
{
	font-family: open-sans-n7, sans-serif;
}

#u14007-4.AccordionPanelTabOpen p,#u14011-4:hover p
{
	font-family: open-sans-n7, sans-serif;
}

#u14011-4:active p
{
	font-family: open-sans-n7, sans-serif;
}

#u14011-4.AccordionPanelTabOpen p
{
	font-family: open-sans-n7, sans-serif;
}

