.version.index /* version checker */
{
	color: #0000E9;
	background-color: #AD0C48;
}

.html
{
	background: #FFFFFF url("../images/1280x800.jpg") no-repeat center top scroll;
	background-size: contain;
}

#page
{
	z-index: 1;
	width: 1050px;
	min-height: 2686px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 76px;
}

#u6450
{
	z-index: 106;
	height: 75px;
}

#u6450-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 106;
	top: 0px;
}

#u11288
{
	z-index: 109;
	width: 134px;
	top: 0px;
	left: 17px;
}

#u11288_img
{
	padding-right: 1px;
}

#u6448
{
	z-index: 107;
	width: 165px;
	top: 0px;
	left: 160px;
}

#u6448_img
{
	padding-right: 2px;
	padding-bottom: 2px;
}

#pamphletu6453
{
	z-index: 111;
	width: 0.01px;
	height: 58px;
	padding-bottom: 67px;
	top: 0px;
	left: 345px;
}

#u6475popup
{
	z-index: 112;
}

#u6475
{
	width: 95px;
	top: 70px;
	left: 285px;
}

#u6476
{
	z-index: 113;
	width: 95px;
	height: 50px;
	margin-right: -10000px;
	margin-top: 5px;
	left: -285px;
}

#u6477
{
	z-index: 114;
	width: 46px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 25px;
}

#u6479
{
	z-index: 116;
	width: 95px;
	height: 50px;
	margin-right: -10000px;
	margin-top: 5px;
	left: -190px;
}

#u6480
{
	z-index: 117;
	width: 45px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 23px;
}

#u6484
{
	z-index: 119;
	width: 95px;
	height: 50px;
	margin-right: -10000px;
	margin-top: 5px;
	left: -95px;
}

#u6485
{
	z-index: 120;
	width: 45px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 25px;
}

#u6487
{
	z-index: 122;
	width: 95px;
	height: 55px;
	margin-right: -10000px;
}

#u13414
{
	z-index: 123;
	width: 55px;
	margin-right: -10000px;
	left: 20px;
}

#u6483
{
	z-index: 125;
	width: 95px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 95px;
}

#u13408
{
	z-index: 126;
	width: 52px;
	margin-right: -10000px;
	left: 21px;
}

#u6482
{
	z-index: 128;
	width: 95px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 190px;
}

#u13402
{
	z-index: 129;
	width: 45px;
	margin-right: -10000px;
	left: 19px;
}

#u6454
{
	z-index: 131;
	width: 560px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 5px;
}

#u6455
{
	width: 95px;
	padding-bottom: 27px;
	top: -16px;
	left: -5px;
}

#u6455:hover
{
	margin: 0px;
}

#u6456-4
{
	z-index: 133;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 5px;
}

#u6457
{
	width: 95px;
	padding-bottom: 27px;
	top: -16px;
	left: 90px;
}

#u6455.PamphletThumbSelected,#u6457:hover
{
	margin: 0px;
}

#u6458-4
{
	z-index: 138;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 5px;
}

#u6457:hover #u6458-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 27px -10000px 0px 0px;
}

#u6457.PamphletThumbSelected #u6458-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 27px -10000px 0px 0px;
}

#u6459
{
	width: 95px;
	padding-bottom: 17px;
	top: -16px;
	left: 185px;
}

#u6457.PamphletThumbSelected,#u6459:hover
{
	margin: 0px;
}

#u6460-4
{
	z-index: 143;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 5px;
}

#u6465
{
	width: 95px;
	padding-bottom: 27px;
	top: -16px;
	left: 280px;
}

#u6459.PamphletThumbSelected,#u6465:hover
{
	margin: 0px;
}

#u6466-4
{
	z-index: 148;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 5px;
}

#u6467
{
	width: 95px;
	padding-bottom: 27px;
	top: -16px;
	left: 375px;
}

#u6465.PamphletThumbSelected,#u6467:hover
{
	margin: 0px;
}

#u6468-4
{
	z-index: 153;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 5px;
}

#u6461
{
	width: 95px;
	padding-bottom: 28px;
	top: -17px;
	left: 470px;
}

#u6467.PamphletThumbSelected,#u6461:hover
{
	margin: 0px;
}

#u6461.PamphletThumbSelected
{
	margin: 0px;
}

#u6462-4
{
	z-index: 158;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 5px;
}

#slideshowu14155
{
	z-index: 92;
	width: 0.01px;
	height: 523px;
	position: relative;
}

#u14164
{
	position: absolute;
	width: 1050px;
	height: 523px;
	background-color: transparent;
}

#u14164popup
{
	z-index: 93;
}

#u14181
{
	z-index: 94;
	width: 1050px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14225
{
	z-index: 96;
	width: 1050px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14279
{
	z-index: 98;
	width: 1050px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14288
{
	z-index: 100;
	width: 1050px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14297
{
	z-index: 102;
	width: 1050px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14306
{
	z-index: 104;
	width: 1050px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14279_clip,#u14288_clip,#u14297_clip,#u14306_clip
{
	overflow: hidden;
	width: 1050px;
	height: 523px;
}

#u14279_img,#u14288_img,#u14297_img,#u14306_img
{
	margin-top: -38px;
	margin-bottom: -39px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu12888
{
	width: 0.01px;
	margin-left: -100px;
}

#u12888
{
	z-index: 20;
	height: 546px;
	border-style: none;
	border-color: transparent;
	background: #FFFFFF url("../images/bg2.jpg") no-repeat center center;
	background-size: cover;
}

#u12888-bw
{
	z-index: 20;
	height: 546px;
}

#pamphletu12889
{
	z-index: 21;
	width: 0.01px;
	height: 221px;
	padding-bottom: 178px;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 100px;
}

#u12894
{
	z-index: 22;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 472px;
}

#u12896
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u12896:hover
{
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u12896.PamphletThumbSelected
{
	background-color: #29ABE2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u12895
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 19px;
}

#u12895:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u12897
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 37px;
}

#u12897:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u12898
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 55px;
}

#u12898:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u12895.PamphletThumbSelected,#u12897.PamphletThumbSelected,#u12898.PamphletThumbSelected
{
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u12899
{
	position: absolute;
	width: 1050px;
}

#u12899popup
{
	z-index: 27;
}

#u12903
{
	z-index: 28;
	width: 1008px;
	height: 134px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	padding-top: 72px;
	padding-right: 42px;
	padding-bottom: 193px;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u12904-4
{
	z-index: 29;
	width: 1008px;
	min-height: 110px;
	font-size: 40px;
	color: #29ABE2;
	line-height: 48px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u12905-4
{
	z-index: 33;
	width: 540px;
	min-height: 24px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-left: 234px;
	position: relative;
}

#u12909
{
	z-index: 37;
	width: 813px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	padding: 77px 140px 193px 97px;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u12911-4
{
	z-index: 38;
	width: 813px;
	min-height: 105px;
	font-size: 40px;
	color: #29ABE2;
	line-height: 48px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u12910-4
{
	z-index: 42;
	width: 540px;
	min-height: 24px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-left: 137px;
	position: relative;
}

#u12900
{
	z-index: 46;
	width: 813px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	padding: 85px 140px 193px 97px;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u12901-4
{
	z-index: 47;
	width: 813px;
	min-height: 60px;
	font-size: 40px;
	color: #29ABE2;
	line-height: 48px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u12902-4
{
	z-index: 51;
	width: 540px;
	min-height: 24px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-left: 137px;
	margin-top: 1px;
	position: relative;
}

#u12906
{
	z-index: 55;
	width: 813px;
	height: 168px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	padding: 38px 140px 193px 97px;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u12907-4
{
	z-index: 56;
	width: 813px;
	min-height: 60px;
	font-size: 40px;
	color: #29ABE2;
	line-height: 48px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u12908-4
{
	z-index: 60;
	width: 540px;
	min-height: 24px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-left: 137px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u13049
{
	z-index: 87;
	height: 457px;
	border-style: none;
	border-color: transparent;
	background: #FFFFFF url("../images/dsc_1602.jpg") no-repeat center center;
	background-size: cover;
}

#u13049-bw
{
	z-index: 87;
	height: 457px;
}

#u13036
{
	z-index: 71;
	border-style: none;
	border-color: transparent;
	padding-bottom: 68px;
	background: #FFFFFF url("../images/hey2.jpg") no-repeat center center;
}

#u13040-7
{
	z-index: 72;
	width: 386px;
	min-height: 350px;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 100px;
}

#u13040-5
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

#u13041
{
	z-index: 79;
	width: 2px;
	height: 345px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 586px;
}

#u13042-7
{
	z-index: 80;
	width: 463px;
	min-height: 297px;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 687px;
}

#u13040-2,#u13042-2
{
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
}

#u13040-3,#u13042-3
{
	font-size: 24px;
	line-height: 29px;
	font-weight: 400;
}

#u13042-5
{
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}

#u13036-bw
{
	z-index: 71;
	height: 418px;
}

#u12980
{
	z-index: 64;
	border-style: none;
	border-color: transparent;
	padding-bottom: 474px;
	background: #FFFFFF url("../images/star_wars_stock_background_by_ahsoka114-d4srsys2.jpg") no-repeat center center;
	background-size: cover;
}

#u13036_align_to_page,#u12980_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	position: relative;
	left: -100px;
}

#u13657-4
{
	z-index: 88;
	width: 278px;
	min-height: 57px;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 484px;
}

#u12980-bw
{
	z-index: 64;
	height: 81px;
}

#pu13005
{
	width: 0.01px;
	padding-bottom: 318px;
	margin-top: -443px;
}

#u13005
{
	z-index: 65;
	width: 313px;
	position: fixed;
	top: 2200px;
	left: 0px;
}

#u13011
{
	z-index: 67;
	width: 318px;
	position: fixed;
	top: 2200px;
	left: 366px;
}

#u13017
{
	z-index: 69;
	width: 313px;
	position: fixed;
	top: 2200px;
	left: 737px;
}

#u14034
{
	z-index: 2;
	padding-bottom: 0px;
}

#u14034_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	left: -100px;
	padding-top: 24px;
	padding-bottom: 10px;
}

#u14035-5
{
	z-index: 3;
	width: 1037px;
	min-height: 20px;
	left: 107px;
}

#u14036-4
{
	z-index: 8;
	width: 856px;
	min-height: 21px;
	left: 214px;
}

#u14037-4
{
	z-index: 12;
	width: 865px;
	min-height: 26px;
	left: 193px;
	margin-top: 20px;
}

#u14038-4
{
	z-index: 16;
	width: 483px;
	min-height: 24px;
	left: 445px;
	margin-top: 19px;
}

#u14034-bw
{
	z-index: 2;
	height: 178px;
}

body
{
	position: relative;
	min-width: 1050px;
}

