.version.events /* version checker */
{
	color: #000013;
	background-color: #568D86;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 455px;
}

#page_position_content
{
	margin-bottom: -1px;
}

#u14710-4
{
	z-index: 39;
	min-height: 61px;
}

#u14710-4-bw
{
	z-index: 39;
	min-height: 61px;
	height: 61px;
}

#menuu14661
{
	z-index: 2;
}

#u14662
{
	width: 61px;
	min-height: 50px;
	margin-right: -10000px;
}

#u14663
{
	width: 61px;
	padding-bottom: 33px;
}

#u14663:hover
{
	margin: 0px;
}

#u14663:active
{
	margin: 0px;
}

#u14669
{
	width: 61px;
	min-height: 50px;
	margin-right: -10000px;
	left: 63px;
}

#u14672
{
	width: 61px;
	padding-bottom: 33px;
}

#u14663.MuseMenuActive,#u14672:hover
{
	margin: 0px;
}

#u14672:active
{
	margin: 0px;
}

#u14665-4,#u14675-4
{
	width: 61px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u14676
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 126px;
}

#u14679
{
	width: 62px;
	padding-bottom: 33px;
}

#u14672.MuseMenuActive,#u14679:hover
{
	margin: 0px;
}

#u14679:active
{
	margin: 0px;
}

#u14683
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 190px;
}

#u14684
{
	width: 62px;
	padding-bottom: 33px;
}

#u14679.MuseMenuActive,#u14684:hover
{
	margin: 0px;
}

#u14684:active
{
	margin: 0px;
}

#u14690
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 254px;
}

#u14693
{
	width: 62px;
	padding-bottom: 33px;
}

#u14684.MuseMenuActive,#u14693:hover
{
	margin: 0px;
}

#u14693:active
{
	margin: 0px;
}

#u14697
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 318px;
}

#u14698
{
	width: 62px;
	padding-bottom: 33px;
}

#u14693.MuseMenuActive,#u14698:hover
{
	margin: 0px;
}

#u14698:active
{
	margin: 0px;
}

#u14698.MuseMenuActive
{
	margin: 0px;
}

#u14682-4,#u14685-4,#u14694-4,#u14700-4
{
	width: 62px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#menuu14661-bw
{
	z-index: 2;
	height: 50px;
}

#u14735-37
{
	z-index: 54;
	min-height: 291px;
}

#u14735,#u14735-3,#u14735-4,#u14735-5,#u14735-7,#u14735-8,#u14735-9,#u14735-11,#u14735-12,#u14735-13,#u14735-15,#u14735-16,#u14735-18,#u14735-20,#u14735-22,#u14735-24,#u14735-26,#u14735-28,#u14735-30,#u14735-32,#u14735-33,#u14735-34
{
	text-align: center;
}

#u14735-35
{
	font-size: 11px;
	line-height: 13px;
}

#u14735-37-bw
{
	z-index: 54;
	min-height: 291px;
	margin-top: 1px;
	height: 591px;
}

#u14711
{
	z-index: 43;
	padding-bottom: 5px;
}

#u14712-10
{
	z-index: 44;
	width: 344px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 18px;
}

#u14711-bw
{
	z-index: 43;
	height: 66px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

