.version.ieee /* version checker */
{
	color: #000001;
	background-color: #7256DE;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 348px;
}

#page_position_content
{
	margin-bottom: -5px;
}

#u14710-4
{
	z-index: 39;
	min-height: 61px;
}

#u14710-4-bw
{
	z-index: 39;
	min-height: 61px;
	height: 61px;
}

#menuu14661
{
	z-index: 2;
}

#u14662
{
	width: 61px;
	min-height: 50px;
	margin-right: -10000px;
}

#u14663
{
	width: 61px;
	padding-bottom: 33px;
}

#u14663:hover
{
	margin: 0px;
}

#u14663:active
{
	margin: 0px;
}

#u14669
{
	width: 61px;
	min-height: 50px;
	margin-right: -10000px;
	left: 63px;
}

#u14672
{
	width: 61px;
	padding-bottom: 33px;
}

#u14663.MuseMenuActive,#u14672:hover
{
	margin: 0px;
}

#u14672:active
{
	margin: 0px;
}

#u14665-4,#u14675-4
{
	width: 61px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u14676
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 126px;
}

#u14679
{
	width: 62px;
	padding-bottom: 33px;
}

#u14672.MuseMenuActive,#u14679:hover
{
	margin: 0px;
}

#u14679:active
{
	margin: 0px;
}

#u14683
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 190px;
}

#u14684
{
	width: 62px;
	padding-bottom: 33px;
}

#u14679.MuseMenuActive,#u14684:hover
{
	margin: 0px;
}

#u14684:active
{
	margin: 0px;
}

#u14690
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 254px;
}

#u14693
{
	width: 62px;
	padding-bottom: 33px;
}

#u14684.MuseMenuActive,#u14693:hover
{
	margin: 0px;
}

#u14693:active
{
	margin: 0px;
}

#u14697
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 318px;
}

#u14698
{
	width: 62px;
	padding-bottom: 33px;
}

#u14693.MuseMenuActive,#u14698:hover
{
	margin: 0px;
}

#u14698:active
{
	margin: 0px;
}

#u14698.MuseMenuActive
{
	margin: 0px;
}

#u14682-4,#u14685-4,#u14694-4,#u14700-4
{
	width: 62px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#menuu14661-bw
{
	z-index: 2;
	height: 50px;
}

#u15042-73
{
	z-index: 54;
	min-height: 1192px;
	text-align: center;
}

#u15042-33
{
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}

#u15042-3,#u15042-4,#u15042-14,#u15042-16,#u15042-17,#u15042-32,#u15042-35
{
	font-weight: bold;
}

#u15042-2,#u15042-15,#u15042-34
{
	text-decoration: underline;
}

#u15042-6,#u15042-7,#u15042-9,#u15042-10,#u15042-12,#u15042-13,#u15042-19,#u15042-20,#u15042-22,#u15042-23,#u15042-25,#u15042-26,#u15042-28,#u15042-29,#u15042-31,#u15042-36,#u15042-38,#u15042-40,#u15042-41,#u15042-43,#u15042-45,#u15042-47,#u15042-49,#u15042-51,#u15042-53,#u15042-55,#u15042-57,#u15042-59,#u15042-61,#u15042-63,#u15042-65,#u15042-66,#u15042-67,#u15042-71
{
	font-size: 12px;
	line-height: 14px;
}

#u15042-73-bw
{
	z-index: 54;
	min-height: 1192px;
	margin-top: 1px;
	height: 1192px;
}

#pu15047-3
{
	width: 0.01px;
	margin-left: -97px;
}

#u15047-3
{
	z-index: 127;
	width: 2px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#u14711
{
	z-index: 43;
	padding-bottom: 5px;
}

#u14712-10
{
	z-index: 44;
	width: 344px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 18px;
}

#u14711-bw
{
	z-index: 43;
	height: 66px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

