.version.index /* version checker */
{
	color: #00001A;
	background-color: #7A9786;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 749px;
}

#page_position_content
{
	margin-bottom: -1px;
}

#u14710-4
{
	z-index: 39;
	min-height: 61px;
}

#u14710-4-bw
{
	z-index: 39;
	min-height: 61px;
	height: 61px;
}

#menuu14661
{
	z-index: 2;
}

#u14662
{
	width: 61px;
	min-height: 50px;
	margin-right: -10000px;
}

#u14663
{
	width: 61px;
	padding-bottom: 33px;
}

#u14663:hover
{
	margin: 0px;
}

#u14663:active
{
	margin: 0px;
}

#u14669
{
	width: 61px;
	min-height: 50px;
	margin-right: -10000px;
	left: 63px;
}

#u14672
{
	width: 61px;
	padding-bottom: 33px;
}

#u14663.MuseMenuActive,#u14672:hover
{
	margin: 0px;
}

#u14672:active
{
	margin: 0px;
}

#u14665-4,#u14675-4
{
	width: 61px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u14676
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 126px;
}

#u14679
{
	width: 62px;
	padding-bottom: 33px;
}

#u14672.MuseMenuActive,#u14679:hover
{
	margin: 0px;
}

#u14679:active
{
	margin: 0px;
}

#u14683
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 190px;
}

#u14684
{
	width: 62px;
	padding-bottom: 33px;
}

#u14679.MuseMenuActive,#u14684:hover
{
	margin: 0px;
}

#u14684:active
{
	margin: 0px;
}

#u14690
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 254px;
}

#u14693
{
	width: 62px;
	padding-bottom: 33px;
}

#u14684.MuseMenuActive,#u14693:hover
{
	margin: 0px;
}

#u14693:active
{
	margin: 0px;
}

#u14697
{
	width: 62px;
	min-height: 50px;
	margin-right: -10000px;
	left: 318px;
}

#u14698
{
	width: 62px;
	padding-bottom: 33px;
}

#u14693.MuseMenuActive,#u14698:hover
{
	margin: 0px;
}

#u14698:active
{
	margin: 0px;
}

#u14698.MuseMenuActive
{
	margin: 0px;
}

#u14682-4,#u14685-4,#u14694-4,#u14700-4
{
	width: 62px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#menuu14661-bw
{
	z-index: 2;
	height: 50px;
}

#pu14713-17
{
	width: 0.01px;
	margin-top: 1px;
}

#u14713-17
{
	z-index: 54;
	min-height: 284px;
	text-align: center;
}

#u14713,#u14713-2,#u14713-9,#u14713-10
{
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}

#u14713-4,#u14713-12
{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

#u14713-5,#u14713-8,#u14713-13
{
	font-size: 12px;
	line-height: 14px;
}

#u14713-7,#u14713-15
{
	font-size: 14px;
}

#u14713-17-bw
{
	z-index: 54;
	min-height: 284px;
	height: 346px;
}

#u14714
{
	z-index: 71;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u14714-bw
{
	z-index: 71;
	margin-top: 172px;
	height: 1px;
}

#u14715
{
	z-index: 72;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u14715-bw
{
	z-index: 72;
	margin-top: 25px;
	height: 1px;
}

#u14716-4
{
	z-index: 73;
	width: 197px;
	min-height: 13px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	margin-left: 107px;
	margin-top: 13px;
	position: relative;
}

#pu14717
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 31px;
}

#u14717
{
	z-index: 77;
	width: 98px;
	position: relative;
	margin-right: -10000px;
}

#u14723
{
	z-index: 79;
	width: 101px;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u14729
{
	z-index: 81;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 246px;
}

#u14711
{
	z-index: 43;
	padding-bottom: 5px;
}

#u14712-10
{
	z-index: 44;
	width: 344px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 18px;
}

#u14711-bw
{
	z-index: 43;
	margin-top: 28px;
	height: 66px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

